<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    
    <button class="nav-link active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
     role="tab" aria-controls="nav-home" aria-selected="true">CONOCENOS</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" 
    role="tab" aria-controls="nav-profile" aria-selected="false"></button>
  </div>
  
  
    <p class="text-xl-center text-success h1 strong"> Bienvenidos a nuestra empresa </p>

    <div class="text-center">
      <img src="./assets/edificios.jpeg" width="1000" height="450" class="rounded" alt="Responsive image">

      <p class="text-xl-center text-warning h3"> Las grandes multinacionales son pequeñas empresas que han tenido exito </p>

    </div>
     

     
    


</nav>
