<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ><img src="./assets/persona.jpeg" width="45"height="40">USUARIOS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <li class="nav-item ">
          <a class="nav-link active" href="#" id="navDropCur" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Visitantes temporales
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navDropCur" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Codigo QR
          </a>
        </li>
      </ul>
    <li class="nav-item dropdown">
      <button class="btn  dropdown-toggle" href="#" id="navDropBus" role="button" data-bs-toggle="dropdown" type="submit"><img src="./assets/buscar.png"width="25"height="25" ></button>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <form class="d-flex">
          <li><a ><input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></a></li>
        </form>
      </ul>
    </li>
    <a class="btn btn-primary" href="#" role="button"><img src="/assets/calendario.png"width="25"height="25"></a>
    <app-mail></app-mail>
    <app-notification></app-notification>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
      <li class="nav-item ">
      <a class="nav-link active" href="#" id="navDropCur" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Autenticacion
      </a>
    </li>
   </ul>
  </div>
</nav>
